[Desktop Entry]
Version=1.0
Type=Application
Name=TwitterBrowser
Name[en]=TwitterBrowser
GenericName=Web Browser
X-GNOME-FullName=TwitterBrowser
Comment=Simple Yet Powerful Anti-Detect Browser
Exec=twitterbrowser %u
Icon=twitterbrowser
StartupNotify=true
NoDisplay=false
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/twitterbrowser;text/html;application/xhtml+xml;
StartupWMClass=twitterbrowser
Keywords=browser;web;internet;productivity;
